/* admin table styles*/
#text {
    text-transform: capitalize;
}

.admin-lists-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.admin-create-button {
    padding: 0.5rem 1rem;
    border: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.admin-lists-table {
    width: 50rem;
    border: 2px solid #000;
}

.admin-lists-header th {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 1rem;
}

.admin-lists {
    text-transform: capitalize;
}

.admin-actions-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.admin-icons {
    padding: 0.2rem;
    cursor: pointer;
}

.admin-icons.delete {
    background-color: red;
    border-radius: 0.2rem;

}


.admin-icons.update {
    background-color: rgb(162, 162, 49);
    border-radius: 0.2rem;

}

.admin-create-button:hover {
    transform: scale(1.02);
}

.admin-icons:hover {
    transform: scale(1.05);
}




/* products styles */

.admin-lists img {
    width: 3.2rem;
    aspect-ratio: 1;
}


@media screen and (max-width: 860px) {
    .admin-lists-content {
        width: 40rem;
        margin-inline: 2rem;
    }

    .admin-lists-table {
        border: 0;
        width: 100%;
    }

    .admin-lists {
        border: 2px solid #000;
        padding: 1.5rem;
        font-weight: 600;

    }

    .admin-lists td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
        text-transform: capitalize;
        padding: 0.5rem;
    }

    .admin-list-price-tag .discount-tag {
        right: 3rem;

    }

    .admin-actions-icons {
        justify-content: end;
    }

    .admin-lists-table caption {
        font-size: 1.3em;
    }

    .admin-lists-table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }


    table td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

@media screen and (max-width: 765px) {
    .admin-lists-content {
        width: 30rem;
    }
}

@media screen and (max-width: 575px) {
    .dashboard-container {
        max-width: 560px;
    }

    .dashboard-content,
    .prod-paginate {
        width: 100%;
    }

    .fetching-products {
        left: 28%;
    }

    .admin-lists-content {
        width: 100%;
        margin-inline: 0;
    }
}